<div class="panel panel-default" style="background-color: white;">
    <div class="panel-body">
        <span>
            <a href="#" class="comment-link" data-id="{{id}}">{{user.username}}</a>
            <div>{{content}}</div>
            <span class="comment-details">
                <span class="comment-details__date">{{created_at}}</span>
            </span>
        </span>
    </div>
</div>