<div class="panel panel-default">
    <div class="panel-body">
        <span>
            <h4>{{user.username}}</h4>
            <div>{{content}}</div>
            <span class="comment-details">
                <span class="comment-details__date">{{format_time created_at}}</span>
            </span>
        </span>
    </div>
    <p>_______________________</p>
</div>