<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blogtopia</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <header class="text-center mb-4 header-section">
            <h1>
                <a href="/" class="text-decoration-none">Blogtopia</a>
            </h1>
            <nav class="">
                <ul class="row justify-content-center nav-list d-flex">
                    <li class="col-md-2 card">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="col-md-2 card">
                        <a href="/dashboard" class="nav-link">Dashboard</a>
                    </li>
                    {{#if loggedIn}}
                    <li class="col-md-2 card">
                        <a href="/" class="nav-link">
                            <button class="btn-logout" id="logout">Log-Out</button>
                        </a>
                    </li>
                    {{else}}
                    <li class="col-md-2 card">
                        <a href="/login" class="nav-link">Log-In</a>
                    </li>
                    <li class="col-md-2 card">
                        <a href="/sign-up" class="nav-link">Sign-Up</a>
                    </li>
                    {{/if}}
                    <li class="col-md-2 card">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class= "main-body-style" style="background-color: rgb(195, 199, 158);">
                {{{ body }}}
                <p>_______________________________________________________</p>

            </div>
            
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>
