<section class="container">
    <h2>Dashboard view</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/dashboard/posts/" class="btn btn-primary">All Posts</a>
                {{#if loggedIn}}
                <a href="/" class="btn btn-primary">Add New Post</a>
                {{else}}
                <a href="/login" class="btn btn-primary">Login to Add New Post</a>
                {{/if}}
            </div>
        </div>
    </div>
</section>   