<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Sign Up</h2>
                </div>
                <div class="panel-body">
                    <form class="signup-form" action="">
                        <div class="form-group">
                            <input type="text" name="first_name" placeholder="First Name" class="form-control" id="first_name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" placeholder="Last Name" class="form-control" id="last_name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" id="conf_password">
                        </div>
                        <input type="submit" value="Signup" class="btn btn-primary" id="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/sign-up.js"></script>