body {
    background-color: green;
}

.header-section {
    background-color: rgb(5, 37, 5);
    color: white;
    padding: 15px;
}

.nav-list {
    list-style: none;
    padding-left: 0;
}

.comment-link {
    font-weight: bold;
    color: #337ab7; /* Bootstrap primary color */
}

.post-details__date,
.comment-details__date {
    font-size: small;
    color: #777; /* Grey color to de-emphasize */
}
